@import './../../../styles/global.scss';

.TableItem {
  font-weight: bold;

  &:hover &__input {
    background-color: $pre-medium-dark-color;
  }

  &__cell {
    vertical-align: middle;
    border-color: $light-color;
  }

  &__input {
    font-weight: bold;
    color: #fff;
    outline: none;
    background-color: $medium-dark-color;
    border-radius: 2px;
    border: 1px solid $dark-color;
    transition: $transition-time;
    text-align: center;
    width: 100px;
  }

  &__delete-button {
    display: flex;
    border: none;
    outline: none;
    background: none;
    box-sizing: content-box;
  }
}
