@import './global.scss';

.SettingsPage {
  color: #fff;
  background-color: #012626;
  height: calc(100vh - 60px);
  overflow: scroll;
}

.Table {
  color: #fff;

  &__column-header {
    border-color: $light-color !important;
  }
}
