// color theme
$dark-color: #0e0d12;
$light-color: #aaabb0;
$medium-dark-color: #3a3a44;
$pre-medium-dark-color: #666670;
$header-text-color: #fff;

// transition
$transition-time: 0.2s;

// header
$header-height: 60px;
